body{
    margin: 0;padding: 0;
    background-color: #f8f8f8;
}
.news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.news {
    width: calc(25% - 10px);  
    margin-bottom: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    background-color: #d0e1f9;
  }
  
  .News {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    flex-grow: 1;
  }
  
  .News img {
    width: 75%; 
    height: 25vh;
    border-radius: 8px 8px 0 0; 
    margin: 0 auto; 
    display: block;
  }
  

  .News p {
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .news:nth-last-child(-n + 2) {
      margin: 0 auto;
    }
  }